@charset "utf-8";
/* CSS Document */

/*--------------------------------------------

1.index
2.dies
3.setting
4.user
5.animation

----------------------------------------------*/

*{
    margin      : 0;
    padding     : 0;
    font-family : 'Crimson Text', serif;
    list-style  : none;
}

#wrap{
    width		: 100vw;
    height		: 100vh;
    margin      : 0 auto;
	position    : fixed;
	background  : #eeeeee;
	background-size: cover;
	z-index     : 0;
}


/*---------------------------------------------
             index.php
---------------------------------------------*/

/*背景*/
#index_img{
    width           : 100vw;
    height          : 100vh;
    background      : #F7E0A1 url(../images/index.png) no-repeat;
    position        : fixed;
    background-size : cover;
    z-index         : 0;
}

/*ぼかしのための疑似要素*/
#index_img::before {
    content   : '';
    top       : -5px;
    bottom    : -5px;
    left      : -5px;
    right     : -5px;
    background: inherit;
    position  : absolute;/* 輪郭がぼやけてしまうのでブラー範囲を広げる */
    filter    : blur(2px);
    z-index   : -1;
}

/*logoマークのはこ*/
#index_logo{
    text-align      : center;
    padding-top     : calc(100vh / 2 - 220px);
}

/*---------------------------
    ログインフォーム
----------------------------*/
#index_contents, #new_contents{
    width       : 310px;
    padding     : 35px 20px 10px 40px;
    top         : 23%;
    left        : 37%;
    background  : #fff;
    position    : absolute;
    border      : 4px double #ccc;
    text-align  : center;
    box-shadow  : 2px 2px 5px 1px #999;
    z-index     : 2;
}

/*フォームを表示したときの背景（暗くなる）*/
#form_back{
    width           : 100vw;
    height          : 100vh;
    top             : 0;
    left            : 0;
    background      : #000;
    background-size : cover;
    opacity         : 0.60;
    position        : fixed;
    z-index         : 1;
}

/*入力欄*/
.input{
    margin       : 0 20px 15px 10px;
    width        : 260px;
    height		 : 30px;
    color		 : #3E4242;
    font         : 1em sans-serif;
    background-color    :#FFFFFF;	/*記入してない欄*/
    -moz-box-shadow		: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow	: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    box-shadow			: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

hr{
    margin-top      : 10px;
    background-color: #fff;
    border-top      : 1px dashed #8c8b8b;
}

/*ボタン*/
#arrow_btn{
    border-radius  : 100px;
    width          : 70px;
    height         : 70px;
    line-height    : 70px;
}

.btn{
    margin         : 10px 20px 10px 10px;
    width          : 190px;
    height         : 20px;
    line-height    : 20px;
    background     : #000000;
    color          : rgba(255, 255, 255, 0.47);
    display        : inline-block;
    text-decoration: none;
    text-align     : center;
    vertical-align : middle;
    box-shadow     : 0px 0px 0px 5px #000000;
    border         : solid 2px rgba(255, 255, 255, 0.47);
    cursor         : pointer;
    transition     : .4s;
}

.btn:hover{
    background     : #8cd460;
    box-shadow     : 0px 0px 0px 5px #8cd460;
    border-style   : dashed;
}

#form button{
    font-size      : 1em;
    height         : 23px;
    line-height    : 23px;
}




/*---------------------------------------------
             dies.php
---------------------------------------------*/

/*ロード画面*/
#loader-bg {
    width          : 100%;
    height         : 100%;
    top            : 0px;
    left           : 0px;
    display        : none;
    position       : fixed;
    background     : #000;
    z-index        : 1;
}
#loader {
    width          : 200px;
    height         : 200px;
    top            : 50%;
    left           : 50%;
    margin-top     : -100px;
    margin-left    : -100px;
    display        : none;
    position       : fixed;
    text-align     : center;
    color          : #fff;
    z-index        : 2;
}

.text{
    margin-top     : 0.8em;
}

.text span{
    display        : inline-block;
    animation      : wave-text 1s ease-in-out infinite;
}

/*お知らせ*/
#main_info {
    width: 75%;
    float: right;
    padding: 10px;
    background-color: #eeeeee;
}

#main_info h1{
    font-size: 3em;
    padding-bottom: 5px;
}

.area{
    position:relative;
    padding	:3%;
    width		:90%;
    margin-top	:15px;
    background-color: #F7E0A1;
    border-radius: 15px;
    word-break: break-all;/*行末で強制的に改行*/
}

#content_area{
    min-height: 400px;
}
/*areaの最後の下空白をなくす*/
.area:last-child{
    margin-bottom	:0px;	
}
.area:only-of-type{
    margin-bottom	:0px;	/*１つしか記事がない場合、areaの下空白をなくす*/
}

.area  p{
    margin	:30px 0;
}

#content{
    width: 95%;
    min-height: 390px;
    margin	:20px 0 0 0;
    padding: 3%;
    background-color: #ffffff;
    border-radius: 15px;
}

.area h2{
    clear:both;
}

.area a.day{
    float		:right;
    position	:relative;
    display		:block;
    bottom		:25px;
}

#liner{
    background: linear-gradient(transparent 50%, #8cd460 50%);
}

/*記事（短）*/
.short *{
    display	:none;
}
.short h2{
    display	:none;
}
.short p:first-of-type{
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*続きを読む*/
.short_read{
    float:right;
    display	:block;
    margin: -30px 0 30px 0;
    padding	:1%;
    width	:50%;
    max-width:150px;
    background-color	: #8cd460;
    border-radius			:10px;
    -webkit-border-radius	:10px;
    -moz-border-radius		:10px;
    text-align	:center;
}
.short_read:hover{
    background-color: #b8ee65;
    -moz-box-shadow		:inset 10px rgba(0,0,0,0.5);
    -webkit-box-shadow	:inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
    box-shadow			:inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    letter-spacing:2px;/*文字の間隔を指定する*/
}

/*---------------------------------------------
             setting.php
---------------------------------------------*/

#main{
    width: 75%;
    float: right;
    padding: 10px;
    background-color: #eeeeee;
}

#main h1{
    font-size: 3em;
    padding-bottom: 5px;
}

.set_list {
    padding-left: 20px;
}

.set_p{
	color           : #000000;
	text-decoration : none;
    font-size       : 1.5em;
	cursor          : pointer;
}

.set_list form{
	display         : none;
}


/* デザイン */
.set_list,
.set_list div{
    margin          : 0px;
}

.set_list div{
	width           : 800px;
	margin          : 5px 0px 5px 0px !important;
    list-style-type : none !important;
    list-style-image: none !important;
}

.list7 div{
	padding         : 5px 0px 5px 40px;
	display         : block;
    background      : #F7E0A1;
	color           : #444;
    border-radius   : 15px;
    position        : relative;
}

.list7 div:after {/*丸*/
    content         : '';
	width           : 20px;
    height          : 20px;
    top             : 14px;
    left            : 15px;
    display         : block;
	background      : #8cd460;
    border-radius   : 50%;
    position        : absolute;
}

.set_list form input{
	width           : 160px;
    height		    : 30px;
	margin          : 0 20px 15px 10px;
	background-color: #FFFFFF;	/*記入してない欄*/
    color		    : #3E4242;
    font            : 1em sans-serif;
    -moz-box-shadow		: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow	: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    box-shadow			: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

dl{
	margin          : 10px;
}

dl.form dt {
	clear           : right;
	float           : left;
	width           : 16%;
	text-align      : right;
}
dl.form dd {
	margin-left     : 17%;
}

/*---------------------------------------------
             user.php
---------------------------------------------*/
#user_wrap{
    width		: 100vw;
    height		: 100vh;
    margin      : 0 auto;
	position    : fixed;
	background  : #eeeeee;
	background-size: cover;
	z-index     : 0;
	overflow-y  : auto;
}

#user_header {
    width: 100%;;
    height: 3.0em;
    background-color: #2F2F2F;
}

#user_header img{
    width          : 100%;
    height         : 100%;
    box-sizing: border-box;
    border: 5px solid rgba(0,0,0,0);
}
#search{
    float: right;
    margin: 10px 200px 0 0;
}

#search_form {
    position: relative;
}

#search_text  {
    width: 182px;
    height: 16px;
    background: #eee;
    border: none;
    padding: 4px;
    font-size: 1em;
}

#search_button {
    position: absolute;
    top:0;
    _top: 1px;
    left: 190px;
}

*:first-child + html #search_button   {
    top: 30px;
}

/*友達検索*/
.arrow_box {
    position: absolute;
    background: #eeeeee;
    border: 4px solid #eeeeee;
    z-index: 4;
    width: 250px;
    display: none;
    border-radius: 6px;
    padding: 5px;
    margin-top: 12px;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(38, 213, 50, 0);
    border-bottom-color: #eeeeee;
    border-width: 10px;
    margin-left: -10px;
}
.arrow_box:before {
    border-color: rgba(38, 213, 50, 0);
    border-bottom-color: #eeeeee;
    border-width: 16px;
    margin-left: -16px;
}

.arrow_box li{
    display: block;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
    line-height: 32px;
}

.arrow_box span{
    color: #66757f;
    font-size: 1em;
}

#search_icon{
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
}


#account_top{
    width          : 100%;
    height         : 60%;
    min-height     : 60%;
    background     : #2F2F2F;
}

#account_top a{
    width          : 100%;
    height         : 100%;
    background-color: #eeeeee;
    z-index: 1;
}

#account_top img{
    width          : 100%;
    height         : 100%;
    box-sizing: border-box;
    border: 5px solid rgba(0,0,0,0);
}

.u-inline-brock{
	max-width          : 100%;
    display            : inline-block;
}

#account_icon{
    height             : 200px;
    float: left;
    position: absolute;
}
#account_icon a{
    background-color   : #F7E0A1;
    margin             : -50% 0 0 100px;
    padding: 5px;
    vertical-align: bottom;
    border-radius: 50%;
    z-index            : 5;

}

#account_icon img{
    border-radius      : 50%;
    height             : 250px;
    width              : 250px;
    box-sizing         : border-box;
    border: 5px solid rgba(0,0,0,0);
    vertical-align: middle;
}

#account_l_side{
    width: 280px;
    height: 500px;
    background-color: #eeeeee;
    margin-left: 100px;
    padding-top: 30px;
    float: left;
}

#account_l_side p{
    padding: 5px;
}

#account_main {
    position: relative;
    width: 700px;
    height: 500px;
    -webkit-background: linear-gradient(-155deg, rgba(0, 0, 0, 0) 1.5em, #f6f6f6 0%);
    background: linear-gradient(-155deg, rgba(0, 0, 0, 0) 1.5em, #F7E0A1 0%);
    margin: 20px;
    float: left;
    border-radius: 6px;
}

#account_main::after {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 1.65507em;
    height: 3.5493em;
    background: -webkit-linear-gradient(to left bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2));
    background: linear-gradient(to left bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2));
    border-bottom-left-radius: 6px;
    box-shadow: -.2em .2em .3em -.1em rgba(0, 0, 0, .15);
    -webkit-transform: translateY(-1.89424em) rotate(-40deg);
    transform: translateY(-1.89424em) rotate(-40deg);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
}

#footer{
    width: 100%;
    height: 60px;
    text-align: center;
    position: fixed !important;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:0;
    background: rgba(0,0,0,0.5);
}

#footer a{
    padding: 5px 15px 5px 15px;
    border-radius: 100px;
    background: #F7E0A1;
    border: 5px solid #F7E0A1;
    font-size: 1.25em;
    box-sizing: border-box;
}
#footer a:hover{
    border: 5px solid #8cd460;
}

/*ナビゲーション部分*/
#bar_nav{
    width      : 100%;
    height     : 50px;
    background : #2F2F2F;
}

#bar_nav_list{
	float: right;
    width      : 970px;
    height     : 50px;
    text-align : center;
    margin-left: 350px;
}

#bar_nav_list a {
    width           : 230px;
    height          : 50px;
    font-size       : 2em;
    text-align      : center;
    background-color: #333;
    color           : #fff;
    display         : inline-block;
    position        : relative;
    text-decoration : none;
    border-left: 5px solid #FFFFFF;
	z-index: 0;
}

#bar_nav_list a:hover {
    background-color: #fff;
    border-color    : #8cd460;
    color           : #8cd460;
}

#bar_nav_list a,
#bar_nav_list a::before,
#bar_nav_list a::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    -webkit-transition: all .3s;
    transition        : all .3s;

}

#bar_nav_list a::before,
#bar_nav_list a::after {
    content         : '';
    top             : 0;
    width           : 50%;
    height          : 100%;
    background-color: #333;
    display         : block;
    position        : absolute;
    z-index         : -1;
}
#bar_nav_list a::before {
    right           : 0;
}
#bar_nav_list a::after {
    left            : 0;
}
#bar_nav_list a:hover::before,
#bar_nav_list a:hover::after {
    width           : 0;
    background-color: #8cd460;
}

/*-----------------------------------------------------
	animation
-----------------------------------------------------*/
#index_logo{
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    -moz-animation   : fadeIn 2s ease 0s 1 normal;
    -ms-animation    : fadeIn 2s ease 0s 1 normal;
    -o-animation     : fadeIn 2s ease 0s 1 normal;
    animation        : fadeIn 2s ease 0s 1 normal;
}

#loader img{
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation   : spin 1.5s linear infinite;
    -ms-animation    : spin 1.5s linear infinite;
    -o-animation     : spin 1.5s linear infinite;
    animation        : spin 1.5s linear infinite;
}

.short_read{
    -webkit-transition	:-webkit-box-shadow 1s, letter-spacing 1s, background-color 1s;
    -moz-transition		:-moz-box-shadow 1s,letter-spacing 1s, background-color 1s;
    transition			:box-shadow 1s, letter-spacing 1s, background-color 1s;
}

#account_main::after {
    -webkit-transform   : translateY(-1.89424em) rotate(-40deg);
    transform           : translateY(-1.89424em) rotate(-40deg);
    -webkit-transform-origin: bottom right;
    transform-origin        : bottom right;
}

@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
    0% {-ms-transform: rotate(0deg);}
    100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
    0% {-o-transform: rotate(0deg);}
    100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes wave-text{
    00%{transform: translateY(0em);}
    60%{transform: translateY(-0.8em);}
    100%{transform: translateY(0em);}
}

/* アニメーション開始タイミングをずらす */
.text span:nth-of-type(1){ animation-delay: 0.0s; }
.text span:nth-of-type(2){ animation-delay: 0.1s; }
.text span:nth-of-type(3){ animation-delay: 0.2s; }
.text span:nth-of-type(4){ animation-delay: 0.3s; }
.text span:nth-of-type(5){ animation-delay: 0.4s; }
.text span:nth-of-type(6){ animation-delay: 0.5s; }
.text span:nth-of-type(7){ animation-delay: 0.6s; }
.text span:nth-of-type(8){ animation-delay: 0.7s; }
.text span:nth-of-type(9){ animation-delay: 0.8s; }
.text span:nth-of-type(10){ animation-delay: 0.9s; }
.text span:nth-of-type(11){ animation-delay: 1.0s; }
.text span:nth-of-type(12){ animation-delay: 1.1s; }
.text span:nth-of-type(13){ animation-delay: 1.2s; }

/* トリミング　テスト*/
.container
{
    position: absolute;
    width: 100%;
    height: 60%;
}

.imageBox
{
    position: relative;
    height: 100%;
    width: 100%;
    background: #eeeeee no-repeat;
    background-size: cover;
    overflow: hidden;
}

.imageBox .thumbBox
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% transparent;
    background-size: 100% auto;
    /*pointer-events: none;*/
}

.imageBox .spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,0.7);
}

.action
{
    width: 400px;
    height: 30px;
}