@charset "utf-8";
/* CSS Document */

/*--------------------------------------------

1.index
2.dies
3.friend
4.setting
5.user
6.animation

----------------------------------------------*/

*{
    margin          : 0;
    padding         : 0;
    font-family     : 'Crimson Text', serif;
    list-style      : none;
}

#wrap,
#user_wrap{
    width		    : 100vw;
    height		    : 100vh;
    margin          : 0 auto;
	background      : #eeeeee;
	background-size : cover;
	position        : fixed;
	z-index         : 0;
}

/*各ページの見出し部分*/
#main{
	float           : right;
    width           : 75%;
    padding         : 10px;
    background-color: #eeeeee;
}

#main h1{
    font-size: 3em;
    padding-bottom: 5px;
}


/*---------------------------------------------
             index.php
---------------------------------------------*/

/*背景*/
#index_img{
    width           : 100vw;
    height          : 100vh;
    background      : #F7E0A1 url(../images/index.png) no-repeat;
    background-size : cover;
	position        : fixed;
    z-index         : 0;
}

/*ぼかしのための疑似要素*/
#index_img::before {
    content         : '';
    top             : -5px;
    bottom          : -5px;
    left            : -5px;
    right           : -5px;
    background      : inherit;
    position        : absolute;/* 輪郭がぼやけてしまうのでブラー範囲を広げる */
    filter          : blur(2px);
    z-index         : -1;
}

/*logoマークのはこ*/
#index_logo{
	padding-top     : calc(100vh / 2 - 160px);
    text-align      : center;
}

/*トップページのボタン*/
#arrow_btn{
	width           : 70px;
    height          : 70px;
    border-radius   : 100px;
    line-height     : 70px;
}

/*---------------------------
    ログインフォーム
----------------------------*/
#index_contents, #new_contents{
    width           : 310px;
    padding         : 35px 20px 10px 40px;
    top             : 23%;
    left            : 37%;
    background      : #fff;
	border          : 4px double #ccc;
    text-align      : center;
    position        : absolute;
    box-shadow      : 2px 2px 5px 1px #999;
    z-index         : 2;
}

/*フォームを表示したときの背景（暗くなる）*/
#form_back{
    width           : 100vw;
    height          : 100vh;
    top             : 0;
    left            : 0;
    background      : #000;
    background-size : cover;
    position        : fixed;
	opacity         : 0.60;
    z-index         : 1;
}

/*入力欄*/
.input{
	width           : 260px;
    height		    : 30px;
    margin          : 0 20px 15px 10px;
	background-color:#FFFFFF;
    color		    : #3E4242;
    font            : 1em sans-serif;
    -moz-box-shadow		: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    -webkit-box-shadow	: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    box-shadow			: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

hr{
    margin-top      : 10px;
    background-color: #fff;
    border-top      : 1px dashed #8c8b8b;
}

/*登録やキャンセルボタン*/
.btn{
	width           : 190px;
    height          : 20px;
    margin          : 10px 20px 10px 10px;
	display         : inline-block;
	background      : #000000;
	border          : solid 2px rgba(255, 255, 255, 0.47);
    color           : rgba(255, 255, 255, 0.47);
	text-align      : center;
    text-decoration : none;
    vertical-align  : middle;
    box-shadow      : 0px 0px 0px 5px #000000;
	line-height     : 20px;
    cursor          : pointer;
    transition      : .4s;
}

.btn:hover{
    background      : #8cd460;
	border-style    : dashed;
    box-shadow      : 0px 0px 0px 5px #8cd460;
}

/*LoginとNewボタンのみ*/
#form button{
	height          : 23px;
    font-size       : 1em;
    line-height     : 23px;
}




/*---------------------------------------------
             dies.php
---------------------------------------------*/

/*ロード画面*/
#loader-bg {
    width           : 100%;
    height          : 100%;
    top             : 0;
    left            : 0;
    display         : none;
	background      : #000;
    position        : fixed;
    z-index         : 1;
}

#loader {
    width           : 200px;
    height          : 200px;
	margin-top      : -100px;
    margin-left     : -100px;
    top             : 50%;
    left            : 50%;
    display         : none;
	color           : #fff;
	text-align      : center;
    position        : fixed;
    z-index         : 2;
}

#load_text{
    margin-top      : 0.8em;
}

#load_text span{
    display         : inline-block;
    animation       : wave-text 1s ease-in-out infinite;
}

/*-------ロード画面後------*/
/*お知らせ*/
.area{
	width		    : 90%;
	margin-top	    : 15px;
	padding	        : 3%;
	background-color: #F7E0A1;
    border-radius   : 15px;
    position        : relative;
    word-break      : break-all;/*行末で強制的に改行*/
}

/*areaの最後の下空白をなくす*/
.area:last-child{
    margin-bottom	: 0;	
}

/*１つしか記事がない場合、areaの下空白をなくす*/
.area:only-of-type{
    margin-bottom	: 0;	
}

.area  p{
    margin	        : 30px 0;
}

#content_area{
    min-height      : 400px;
}

/*タイトル*/
.area h2{
    clear           : both;
}

#liner{
    background      : linear-gradient(transparent 50%, #8cd460 50%);
}

/*日付*/
.area a.day{
    float		    : right;
	bottom		    : 25px;
	display		    : block;
    position	    : relative;
}

/*中身の文*/
#content{
    width           : 95%;
    min-height      : 390px;
    margin	        : 20px 0 0 0;
    padding         : 3%;
    background-color: #ffffff;
    border-radius   : 15px;
}

/*記事を短く*/
.short *{
    display	        : none;
}

.short h2{
    display	        : none;
}

.short p:first-of-type{
	width           : 100%;
    display         : block;
    text-overflow   : ellipsis;
    white-space     : nowrap;
	overflow        : hidden;
}

/*続きを読む*/
.short_read{
    float           : right;
	width	        : 50%;
    max-width       : 150px;
    margin          : -30px 0 30px 0;
    padding	        : 1%;
	display	        : block;
    background-color: #8cd460;
    border-radius		  : 10px;
    -webkit-border-radius : 10px;
    -moz-border-radius	  : 10px;
    text-align	    : center;
}

.short_read:hover{
    background-color: #b8ee65;
	letter-spacing  : 2px;/*文字の間隔を指定する*/
    -moz-box-shadow		  : inset 10px rgba(0,0,0,0.5);
    -webkit-box-shadow	  : inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
    box-shadow			  : inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

/*---------------------------------------------
             friends_select.php
---------------------------------------------*/

#f_list{
    height: 54px;
    border-bottom: 1px solid #2F2F2F;
}

#f_list a{
    font-size: 1.5em;
}

#f_list span{
    color: #66757f;
    font-size: 0.7em;
}


/*---------------------------------------------
             setting.php
---------------------------------------------*/
/*全体*/
.set_list {
    padding-left    : 20px;
}

.set_list,
.set_list div{
    margin          : 0;
}

.set_list div{
	width           : 800px;
	margin          : 5px 0px 5px 0px !important;
	padding         : 5px 0px 5px 40px;
	display         : block;
    background      : #F7E0A1;
    border-radius   : 15px;
	color           : #444;
    list-style-type : none !important;
    list-style-image: none !important;
	position        : relative;
}

.set_list div:after {/*丸*/
    content         : '';
	width           : 20px;
    height          : 20px;
    top             : 14px;
    left            : 15px;
    display         : block;
	background      : #8cd460;
    border-radius   : 50%;
    position        : absolute;
}

/*見出し*/
.set_p{
	color           : #000000;
	text-decoration : none;
    font-size       : 1.5em;
	cursor          : pointer;
}

/*form１つ１つ*/
.set_list form{
	display         : none;
}

dl{
	margin          : 10px;
}

dl.form dt {
	clear           : right;
	float           : left;
	width           : 16%;
	text-align      : right;
}

dl.form dd {
	margin-left     : 17%;
}

/*---------------------------------------------
             user.php
---------------------------------------------*/
#user_wrap{
	overflow-y      : auto;
}

/*----header----*/
#header {
    width           : 100%;
    height          : 3.0em;
    background-color: #2F2F2F;
}

#header img{
    width           : 100%;
    height          : 100%;
	border          : 5px solid rgba(0,0,0,0);
    box-sizing      : border-box;
}

/*--友達検索--*/
#search{
    float           : right;
    margin          : 10px 200px 0 0;
}

#search_form {
    position        : relative;
}

#search_text  {
    width           : 182px;
    height          : 16px;
	padding         : 4px;
    background      : #eee;
    border          : none;
    font-size       : 1em;
}

#search_button {
    top             :0;
    _top            : 1px;
    left            : 190px;
	position        : absolute;
}

*:first-child + html #search_button   {
    top             : 30px;
}

/*検索結果表示部分*/
.arrow_box {
	width           : 250px;
	margin-top      : 12px;
	padding         : 5px;
	display         : none;
    background      : #eeeeee;
    border          : 4px solid #eeeeee;
    border-radius   : 6px;
	position        : absolute;
	z-index         : 4;
    box-shadow: 0 0 8px gray;
}
.arrow_box:after, 
.arrow_box:before {
	content         : " ";
    width           : 0;
	height          : 0;
    bottom          : 100%;
    left            : 10%;
    border          : solid transparent;
    position        : absolute;
    pointer-events  : none;
	border-color          : rgba(38, 213, 50, 0);
    border-bottom-color   : #eeeeee;
}

.arrow_box:after {
	margin-left     : -10px;
    border-width    : 10px;
}
.arrow_box:before {
	margin-left     : -16px;
    border-width    : 16px;
}

.arrow_box li{
	padding         : 5px 5px 5px 5px;
    display         : block;
	text-overflow   : ellipsis;
	font-size       : 1em;
    line-height     : 32px;
	white-space     : nowrap;
    overflow        : hidden;
}

.arrow_box span{
    color           : #66757f;
    font-size       : 1em;
}
/*------------------------------*/
#search_icon{
    vertical-align  : middle;
    text-align      : center;
    border-radius   : 50%;
}

/*ユーザー画像*/
.u-inline-brock{
	max-width       : 100%;
    display         : inline-block;
}

#account_top{
    width           : 100%;
    height          : 60%;
    min-height      : 60%;
    background      : #2F2F2F;
}

#account_top a{
    width           : 100%;
    height          : 100%;
    background-color: #eeeeee;
    z-index         : 1;
}

#account_top img{
    width           : 100%;
    height          : 100%;
	border          : 5px solid rgba(0,0,0,0);
    box-sizing      : border-box;
}

/*ユーザーアイコン画像*/
#account_icon{
	float           : left;
    height          : 200px;
    position        : absolute;
}

#account_icon a{
	margin          : -50% 0 0 100px;
    padding         : 5px;
    background-color: #F7E0A1;
	border-radius   : 50%;
    vertical-align  : bottom;
    z-index         : 5;
}

#account_icon img{
	width           : 250px;
	height          : 250px;
	border          : 5px solid rgba(0,0,0,0);
    border-radius   : 50%;
	vertical-align  : middle;
    box-sizing      : border-box;
}

/*ナビゲーション部分*/
#bar_nav{
    width           : 100%;
    height          : 50px;
    background      : #2F2F2F;
}

#bar_nav_list{
	float           : right;
    width           : 970px;
    height          : 50px;
	margin-left     : 350px;
    text-align      : center;
}

#bar_nav_list a {
    width           : 230px;
    height          : 50px;
	display         : inline-block;
	background-color: #333;
	border-left     : 5px solid #FFFFFF;
	color           : #fff;
	text-align      : center;
	text-decoration : none;
    font-size       : 2em;
    position        : relative;
	z-index         : 0;
}

#bar_nav_list a:hover {
    background-color: #fff;
    border-color    : #8cd460;
    color           : #8cd460;
}

#bar_nav_list a,
#bar_nav_list a::before,
#bar_nav_list a::after {
    -webkit-box-sizing    : border-box;
    -moz-box-sizing       : border-box;
    box-sizing            : border-box;
    -webkit-transition    : all .3s;
    transition            : all .3s;

}

#bar_nav_list a::before,
#bar_nav_list a::after {
    content         : '';
    width           : 50%;
    height          : 100%;
	top             : 0;
	display         : block;
    background-color: #333;
    position        : absolute;
    z-index         : -1;
}
#bar_nav_list a::before {
    right           : 0;
}
#bar_nav_list a::after {
    left            : 0;
}
#bar_nav_list a:hover::before,
#bar_nav_list a:hover::after {
    width           : 0;
    background-color: #8cd460;
}

/*アカウント情報*/
#account_l_side{
	float           : left;
    width           : 280px;
    height          : 500px;
	margin-left     : 100px;
    padding-top     : 30px;
    background-color: #eeeeee;
}

#account_l_side p{
    padding         : 5px;
}

/*メイン部分*/
#account_main {
	float           : left;
    width           : 700px;
    height          : 500px;
	margin          : 20px;
    border-radius   : 6px;
	position        : relative;
    -webkit-background    : linear-gradient(-155deg, rgba(0, 0, 0, 0) 1.5em, #f6f6f6 0%);
    background            : linear-gradient(-155deg, rgba(0, 0, 0, 0) 1.5em, #F7E0A1 0%);
}

#account_main::after {
	content         : '';
	width           : 1.65507em;
    height          : 3.5493em;
    top             : 0;
    right           : 0;
	position        : absolute;
	border-bottom-left-radius  : 6px;
    box-shadow                 : -.2em .2em .3em -.1em rgba(0, 0, 0, .15);
	-webkit-transform          : translateY(-1.89424em) rotate(-40deg);
    transform                  : translateY(-1.89424em) rotate(-40deg);
    -webkit-transform-origin   : bottom right;
    transform-origin           : bottom right;
    background      : -webkit-linear-gradient(to left bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2));
    background      : linear-gradient(to left bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .2));
}

/*footer部分（画像の変更）*/
#footer{
    width           : 100%;
    height          : 60px;
	bottom          : 0;
	display         : flex;
	background      : rgba(0,0,0,0.5);
    text-align      : center;
    position        : fixed !important;
    position        : absolute;
    justify-content : center;
    align-items     : center;
}

#footer a{
    padding         : 5px 15px 5px 15px;
    background      : #F7E0A1;
    border          : 5px solid #F7E0A1;
	border-radius   : 100px;
    font-size       : 1.25em;
    box-sizing      : border-box;
}
#footer a:hover{
    border          : 5px solid #8cd460;
}

/*-----------------------------------------------------
	animation
-----------------------------------------------------*/
#index_logo{/*トップのロゴ*/
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
    -moz-animation   : fadeIn 2s ease 0s 1 normal;
    -ms-animation    : fadeIn 2s ease 0s 1 normal;
    -o-animation     : fadeIn 2s ease 0s 1 normal;
    animation        : fadeIn 2s ease 0s 1 normal;
}

#loader img{/*ローディングのアイコン*/
    -webkit-animation: spin 1.5s linear infinite;
    -moz-animation   : spin 1.5s linear infinite;
    -ms-animation    : spin 1.5s linear infinite;
    -o-animation     : spin 1.5s linear infinite;
    animation        : spin 1.5s linear infinite;
}

.short_read{/*お知らせ*/
    -webkit-transition	:-webkit-box-shadow 1s, letter-spacing 1s, background-color 1s;
    -moz-transition		:-moz-box-shadow 1s,letter-spacing 1s, background-color 1s;
    transition			:box-shadow 1s, letter-spacing 1s, background-color 1s;
}

#account_main::after {/*ユーザーページのメイン部分*/
    -webkit-transform   : translateY(-1.89424em) rotate(-40deg);
    transform           : translateY(-1.89424em) rotate(-40deg);
    -webkit-transform-origin: bottom right;
    transform-origin        : bottom right;
}

@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);}
}
@-ms-keyframes spin {
    0% {-ms-transform: rotate(0deg);}
    100% {-ms-transform: rotate(360deg);}
}
@-o-keyframes spin {
    0% {-o-transform: rotate(0deg);}
    100% {-o-transform: rotate(360deg);}
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes wave-text{
    00%{transform: translateY(0em);}
    60%{transform: translateY(-0.8em);}
    100%{transform: translateY(0em);}
}

/* アニメーション開始タイミングをずらす */
#load_text span:nth-of-type(1){ animation-delay: 0.0s; }
#load_text span:nth-of-type(2){ animation-delay: 0.1s; }
#load_text span:nth-of-type(3){ animation-delay: 0.2s; }
#load_text span:nth-of-type(4){ animation-delay: 0.3s; }
#load_text span:nth-of-type(5){ animation-delay: 0.4s; }
#load_text span:nth-of-type(6){ animation-delay: 0.5s; }
#load_text span:nth-of-type(7){ animation-delay: 0.6s; }
#load_text span:nth-of-type(8){ animation-delay: 0.7s; }
#load_text span:nth-of-type(9){ animation-delay: 0.8s; }
#load_text span:nth-of-type(10){ animation-delay: 0.9s; }
#load_text span:nth-of-type(11){ animation-delay: 1.0s; }
#load_text span:nth-of-type(12){ animation-delay: 1.1s; }
#load_text span:nth-of-type(13){ animation-delay: 1.2s; }

/*ユーザー画像のトリミング*/
.container{
	width           : 100%;
	height          : 60%;
	position        : absolute;
}

.imageBox{
	width           : 100%;
	height          : 100%;
	background      : #eeeeee no-repeat;
	background-size : cover;
    position        : relative;
    overflow        : hidden;
}

.imageBox .thumbBox
{
	width           : 100%;
	height          : 100%;
    background      : none repeat scroll 0% 0% transparent;
	background-size : 100% auto;
	position        : absolute;
}

.imageBox .spinner
{
	top             : 0;
	right           : 0;
    bottom          : 0;
    left            : 0;
	background      : rgba(0,0,0,0.7);
    text-align      : center;
    position        : absolute;
	line-height     : 400px;
}

.action{
	width           : 400px;
	height          : 30px;
}